source https://nuget.org/api/v2

nuget FSharp.Configuration
nuget FSharp.Formatting
nuget NuGet.CommandLine
nuget FAKE
nuget RazorEngine
nuget suave
nuget NUnit
nuget NUnit.Runners
github forki/FsUnit FsUnit.fs
