@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|PT+Sans:400,700,400italic);

/* ----------------------------------------------------------------------------------- */
/* Header - title, menu, etc.                                                          */
/* ----------------------------------------------------------------------------------- */

/* Header (with blog name and subtitle) */
#top-header {
  margin:0px;
  text-align:right;
}
#top-header h1, #top-header p {
  font-family: Kreon,'Times New Roman', Times, serif;
}
#top-header h1 {
  font-size:320%;
  font-weight:300;
  margin:20px 0px 0px 0px;
}
#top-header h1 a:link, #top-header h1 a:visited {
  color:black;
}
#top-header p {
  font-size:120%;
  font-weight:300;
  margin:0px 0px 25px 0px;
}

/* Customize how the navigation bar looks */
.top-bar-header ul, .top-bar-header li, .top-bar-header nav, .top-bar-header div {
  background:white;
}
.top-bar-header nav {
  border-bottom:4px solid black;
  height:40px;
  overflow:hidden;
}
.top-bar ul  {
  background:white;
}
.top-bar ul li {
  height:37px !important;
  margin-left:10px;
  background:black;
  padding:0px 10px 0px 10px;
  text-align:right;
}
.top-bar ul .name {
  background: white;
}
.top-bar ul .menu-icon {
  text-align:center;
}
.top-bar ul .menu-icon a span {
  margin:4px 10px 0px 0px;
}
.top-bar ul .menu-icon a:link, .top-bar ul .menu-icon a:visited {
  line-height:170%;
  text-indent:-100px !important;
  width:100px !important;
}
.top-bar ul li a:link, .top-bar ul li a:visited {
  line-height:100%;
  font-family:Kreon,'Times New Roman', Times, serif;
  font-weight:700;
  font-size:120%;
  background:black;
}
@media only screen and (min-width: 768px) {
  .top-bar ul li a:link, .top-bar ul li a:visited {
    line-height:200%;
  }
  .top-bar ul li {
    text-align:center;
  }
}

/* ----------------------------------------------------------------------------------- */
/* Right bar - calendar, information, etc.                                             */
/* ----------------------------------------------------------------------------------- */

#right-bar {
  padding-right:0px;
  padding-left:20px;
  font-size:85%;
  font-family:'PT Sans','Trebuchet MS', sans-serif
}

#right-bar h3 {
  font:300 180% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
}
#right-bar h4 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
  margin:25px 0px 15px 0px;
}
#right-bar .right-item {
  margin-bottom:20px;
  padding:10px;
}
#right-bar p, #right-bar ul {
  margin:5px 0px 10px 0px;
}
#right-bar li {
  margin:0px 0px 0px 20px;
}
#right-calendar, #hp-calendar {
  text-align:center;
  background:black;
  margin-bottom:40px;
}
#right-calendar h4, #hp-calendar h4 {
  margin:0px 0px 15px 0px;
  font-size:140%;
  color:#d0d0d0;
  text-align:center;
}
#right-calendar p, #hp-calendar p {
  margin:10px 0px 5px 0px;
  color:#b0b0b0;
  font-size:90%;
}
/* Tweak Lanyrd listing */
#right-bar ol.lanyrd-listing p,
#right-bar ol.lanyrd-listing li,
#right-bar ol.lanyrd-listing p strong,
#right-bar ol.lanyrd-listing h5,
#right-bar ol.lanyrd-listing h5 a,
#right-bar ol.lanyrd-listing p abbr {
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-weight:normal;
  margin:0px;
  padding:0px;
  font-size:inherit;
}
#right-bar ol.lanyrd-listing h5 a {
  font-weight:bold;
}
#right-bar ol.lanyrd-listing li {
  margin:0px 0px 10px 25px;
}

#hp-calendar {
  padding:20px 0px 20px 0px;
  margin:60px 20px 0px 20px;
}
#hp-calendar h4 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  margin-bottom:20px;
}
#hp-calendar p {
  font-size:90%;
  margin:20px 20px 0px 20px;
}

/* ----------------------------------------------------------------------------------- */
/* Calendar pages - index for month and month detail                                   */
/* ----------------------------------------------------------------------------------- */

.cal-details h1, .cal-index h1 {
  font:300 250% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
  text-align:center;
  margin:30px 0px 40px 0px;
}
.cal-index .columns {
  margin-bottom:30px;
  position:relative;
}
.cal-month {
  text-align:center;
  background:black;
  height:100%;
  padding:15px 0px 25px 0px;
  min-height:330px;
}
.cal-month h2 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  color:#d0d0d0;
  margin:0px 0px 10px 0px;
  text-align:center;
}
.cal-month .wrapper1 {
  display:table;
  min-height:240px;
  width:100%;
}
.cal-month .wrapper2 {
  display:table-cell; 
  vertical-align:middle;
}
.cal-box h1 {
  color:#d0d0d0;
}
.cal-box {
  background:black;
  text-align:center;
  width:100%;
  padding:20px 0px 40px 0px;
  margin:20px 0px 30px 0px;
}
.cal-box img {
  border-style:none;
}
.cal-box p {
  margin-top:50px;
  color:#a0a0a0;
  font:300 140% Kreon,'Times New Roman', Times, serif;
}
.cal-box p .sun {
  font-weight:700;
  color:#f0f0f0;
}

/* ----------------------------------------------------------------------------------- */
/* Footer                                                                              */
/* ----------------------------------------------------------------------------------- */
/*
footer {
  min-height:220px;
  margin:60px 0px 30px 0px;
  padding:10px 0px 30px 0px;
  font-size:75%;
  line-height:140%;
  font-family:'PT Sans','Trebuchet MS', sans-serif
}
footer a {
  text-decoration:underline;
}
footer h4 {
  font:700 130% Kreon,'Times New Roman', Times, serif;
}
footer li {
  margin-left:20px;
}
*/
/* ----------------------------------------------------------------------------------- */
/* Content - formatting of standard documents                                          */
/* ----------------------------------------------------------------------------------- */

.rdecor {
  float:right;
  margin:10px;
}
.main-content {
  font-size:95%;
  font-family:'PT Sans','Trebuchet MS', sans-serif
}
.main-content h1 {
  font:300 210% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
}
.main-content h2 {
  font:300 170% Kreon,'Times New Roman', Times, serif;
  margin-top:25px;
  line-height:100%;
}
.main-content h3 {
  font:700 130% Kreon,'Times New Roman', Times, serif;
  margin-top:25px;
  line-height:100%;
}
.main-content h1 a:link, .main-content h1 a:visited {
  color:black;
}
.main-content li {
  margin-left:30px;
}
ul.spaces li {
  margin-bottom:10px;
}
table tr td, table tr th {
  font-size:inherit;
}
/* ----------------------------------------------------------------------------------- */
/* Some special formatting for the home page                                           */
/* ----------------------------------------------------------------------------------- */

.hp h2 {
  font:300 130% Kreon,'Times New Roman', Times, serif;
  margin-bottom:5px;
}
.hp .smdate {
  font:300 100% Kreon,'Times New Roman', Times, serif;
  margin:0px 0px 10px 0px;
}
.main-content p.meta {
  line-height:150%;
  text-align:right;
  font-style:italic;
  margin:15px 10px 30px 0px;
}
h2.first {
  margin-top:0px;
}

/* And for blog posts */
.main-content .addthis_toolbox  {
  float:right;
  margin-top:30px;
  padding:10px 0px 10px 0px;
}
.main-content .addthis_counter {
  border-right:1px solid #d0d0d0;
}
.main-content p.post-meta {
  font-size:95%;
  line-height:150%;
  text-align:right;
  font-style:italic;
  margin:70px 10px 30px 0px;
}
