@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|PT+Sans:400);

/* identifier */
span.i { color:#eaeaea; }
/* string */
span.s, span.str { color:#d4943c; }
/* keywords */
span.k, span.kwrd { color:#67aded; }
/* comment */
span.c, span.rem { color:#96C71D; }
/* operators */
span.o, span.op { color:#af75c1; }
span.html { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }

/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep, span.preproc { color:#af75c1; }
span.attr, span.asp { color:#af75c1; }
/* fsi output */
span.fsi { font-style:italic; color:#888888; }

/* omitted */
span.omitted { 
	background:#3c4e52;
  border-radius:5px;
	color:#808080;
	padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:400 10pt 'PT Sans', arial, sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#eaeaea;
}

code {
  font: 10pt 'Droid Sans Mono',consolas,monospace;
  border:1px solid #e8e8e8;
  background-color:#f8f8f8;
  border-radius:2px;
  border-radius:3px;
  padding:1px 3px 1px 3px;
  color:#c31515;  
}
table.pre td {
  padding:0px;
}
table.pre td.lines {
  width:20px;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
} 
table.pre, pre.fssnip, pre {
  font: 75% 'Droid Sans Mono',consolas,monospace;
  width:90%;
  margin:10px 20px 20px 20px;
  background-color:#111415;
  padding:10px;
  border-radius:5px;
  color:#eaeaea;  
}
pre code {
  font: 100% 'Droid Sans Mono',consolas,monospace;
  border-style:none;
  background-color:#111415;
  padding:0px;
  color:#eaeaea;
}